<h1><%= @machine.location %> Vending Machine</h1>

<% @machine.snack_machines.each do |snack_machine| %>
  <p><%= snack_machine.snack.name %>: $<%= snack_machine.snack.price.to_f %></p>
<% end %>

<p><%= @machine.average_price %></p>
